/*
 * LAYOUT HELPERS
*/

.flex-1 {
  flex: 1;
}

/*
 * COLOR HELPERS
*/

.brand {
  color: $brand;
  text-decoration: none;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4em;
}

.hover-brand:hover {
  color: $brand;
}